<section class="about-section">
  <div class="container">
    <!-- <div class="row">
      <div class="col-12" style="text-align: center;">
        <img class="about-logo" alt="Logo colorida" data-src="assets/img/iconcolorido.png">
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-9 ml-auto mr-auto">
        <div class="title-wrapper">
          <h5 class="title bold c-w acessibilidade"> O Ajude um Pet é um
            <span class="c-w" style="color:#38224d">projeto voluntário</span>, feito por pessoas que amam os animais e esperam mudar a realidade atual do Brasil</h5>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <div class="description-wrapper">
          <p class="description medium acessibilidade"> Em nosso país, ainda existem muitos cães e gatos que sobrevivem à própria sorte nas ruas, e não existe uma política
            púlica que ajude-os e traga amparo como eles merecem.</p>
          <p class="description medium acessibilidade"> Vamos oferecer uma visão ampla e completa de tudo o que está acontecendo na cidade, assim que a pessoa entrar no
            site. Ela poderá escolher como e quando irá ajudar algum animal abandonado.</p>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block d-xl-block">
        <div class="iphone-wrapper" style="padding: 30px;">
          <img class="iphone" data-src="assets/img/celular.png">
        </div>
      </div>
      <div class="col-md-4 d-block d-md-none d-xl-none">
        <div class="iphone-wrapper" >
          <img class="iphone" data-src="assets/img/celular.png">
        </div>
      </div>
      <div class="col-md-4">
        <div class="description-wrapper">
          <p class="description medium acessibilidade"> Poderão ser cadastrados e visualizados animais para adoção, os que necessitam de resgate, transporte, lar temporário,
            e até mesmo onde estão as clínicas veterinárias e pet-shops na cidade. </p>
          <p class="description medium acessibilidade">O custo disso? Nenhum!
            <br> O uso será
            <span style="color:#F7A951">totalmente gratuito, para sempre </span>
          </p>
          <button class="btn btn-purple precadastro-btn acessibilidade" type="submit">QUERO TESTAR!</button>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
