<section class="apoio-section c-b" id="apoio">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="icon">
          <img data-src="assets/img/iconcinza.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="title bold">APOIO</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div id="slick-apoio">
            <a href="http://www.caoviver.com.br/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-18.png" alt="Cão Viver">
            </a>
            <a href="http://rockbicho.org" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-16.png" alt="RockBicho">
            </a>
            <a href="http://www.gatouai.com.br" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-14.png" alt="Gato Uai">
            </a>
            <a href="https://www.facebook.com/OPABrasilBichos/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-13.png" alt="OPA Bichos">
            </a>
            <a href="http://brigadaplanetaria.com.br/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-17.png" alt="Brigada Planetária">
            </a>
            <a href="http://www.farmaciasolidaria.com.br" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-01.png" alt="Farmácia Solidária">
            </a>
            <a href="https://www.facebook.com/animais.e.o.espiritismo/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-02.png" alt="Animais e o Espiritismo">
            </a>
            <a href="https://www.facebook.com/animaiscarenteses/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-03.png" alt="Animais CarentES">
            </a>
            <a href="https://www.facebook.com/a4amigos/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-04.png" alt="A4 Ong">
            </a>
            <a href="https://www.facebook.com/SomosTodosVoluntarios/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-05.png" alt="Voluntários dos animais">
            </a>
            <a href="http://www.spacuritiba.org.br" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-06.png" alt="SPAC Curitiba">
            </a>
            <!-- <a href="https://www.facebook.com/projetobichosdagente/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-07.png" alt="Proj. Bichos da Gente">
            </a> -->
            <a href="http://www.fafich.ufmg.br/bast/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-08.png" alt="Bast Adotar">
            </a>
            <a href="https://www.facebook.com/animaisviver/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-09.png" alt="Animais Viver">
            </a>
            <a href="http://www.sociedadeprotetoradosanimaisbh.org/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-10.png" alt="Sociedade Mineira Protetora dos Animais">
            </a>
            <a href="https://www.facebook.com/AdocaoDeAnimaisJuizDeFora/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-11.png" alt="Patinhas em Casa">
            </a>
            <a href="https://www.facebook.com/patinhascarentess/" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-12.png" alt="Patinhas Carentes">
            </a>
            <a href="http://oloboalfa.com.br" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-15.png" alt="O Lobo Alfa">
            </a>
            <a href="http://www.abrigodosbichos.com.br" class="slick-apoio" target="_blank">
              <img data-src="assets/img/apoio/apoio-19.png" alt="Abrigo dos Bichos">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
