<section class="banco-section" id="conquistas">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrapper">
          <h5 class="title bold white" id="principal" style="padding: 20px 0"> O QUE NOSSA EQUIPE JÁ CONQUISTOU? </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="icon">
          <img data-src="assets/img/iconbranco.png">
        </div>
      </div>
    </div>

    <div class="row numbers-row">
      <div class="col-md-2 ml-auto">
        <h1 id="doacoes" class="numbers text-center purple">0</h1>
        <h5 class="text-center purple">Doações</h5>
      </div>
      <div class="col-md-3">
        <h1 id="arrecadados" class="numbers text-center purple">0</h1>
        <h5 class="text-center purple">Arrecadados</h5>
      </div>
      <div class="col-md-2 mr-auto">
        <h1 id="seguidores" class="numbers text-center purple">0</h1>
        <h5 class="text-center purple">Seguidores</h5>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="title-wrapper">
          <h5 class="title bold purple"> AJUDE-NOS A CONSEGUIR O NOSSO OBJETIVO!</h5>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="bancos-wrapper">
          <a id="banco-brasil">
            <img class="banco-icon" data-src="assets/img/bancobrasil.png">
          </a>
          <a id="banco-caixa">
            <img class="banco-icon" data-src="assets/img/bancocaixa.png">
          </a>
          <a id="banco-santander">
            <img class="banco-icon" data-src="assets/img/bancosantander.png">
          </a>
        </div>
        <div class="banco-content-wrapper">
          <h5 class="banco-content-title bold white" id="banco"></h5>
          <h5 class="white" id="agencia"></h5>
          <h5 class="white" id="cc"></h5>
          <h5 class="white" id="cpf"></h5>
          <h5 class="white" id="titular"></h5>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-purple" type="submit" id="maior">SAIBA QUEM JÁ CONTRIBUIU!</button>
</section>
