<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-br"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="pt-br"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>AUP - Ajude Um Pet</title>
  <meta http-equiv="Content-Language" content="pt-br">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">



  <meta name="description" content="O Ajude Um Pet é um projeto sem fins lucrativos idealizado em Belo Horizonte, MG. Pretendemos criar um site que simplifique os métodos de adoção e resgate de animais abandonados.">
  <meta name="keywords" content="Projeto">

  <meta name="theme-color" content="#37214f">
  <meta property="busca:title" content="AUP - Ajude Um Pet" />
  <meta property="busca:species" content="Home" />
  <meta property="busca:publisher" content="www.ajudeumpet.com.br" />
  <meta property="busca:issued" content="07/02/2018 00:00:00" />
  <meta property="busca:modified" content="07/02/2018 00:00:00" />
  <meta property="busca:image" content="http://ajudeumpet.com.br/assets/meta/thumbnail_f.png" />
  <meta itemprop="name" content="">
  <meta itemprop="url" content="">
  <meta itemprop="image" content="">
  <meta itemprop="description" content="">
  <link rel="canonical" href="http://ajudeumpet.com.br/">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://ajudeumpet.com.br/index.html">
  <meta property="og:description" content="O Ajude Um Pet é um projeto sem fins lucrativos idealizado em Belo Horizonte, MG. Pretendemos criar um site que simplifique os métodos de adoção e resgate de animais abandonados.">
  <meta property="og:title" content="AUP - Ajude Um Pet">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:site_name" content="AUP">
  <meta property="og:image" content="http://ajudeumpet.com.br/assets/meta/thumbnail_f.png">
  <meta property="fb:app_id" content="">
  <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet" lazyload>
</head>

<body class="c">
  <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="acessibilidade" class="container d-none d-lg-block d-xl-block">
    <div class="bar">
      <div class="contraste">
        <a id="btn-contraste" title="Usar contraste">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 12 12" style="enable-background:new 0 0 12 12;" xml:space="preserve" width="20" height="20">
            <path style="fill:#FFF;" d="M6,0C2.687,0,0,2.687,0,6c0,3.312,2.687,6,6,6c3.312,0,6-2.688,6-6C12,2.687,9.312,0,6,0z M6,10V2
                 c2.209,0,4,1.791,4,4S8.209,10,6,10z" />
          </svg>
        </a>
      </div>
      <div class="fonte">
        <div class="adicionar">
          <a id="fontAdd" title="Aumentar texto">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
              viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve" width="20" height="20">
              <g>
                <g>
                  <polygon style="fill:#FFF;" points="63.5,52.5 63.5,43.5 54.5,43.5 54.5,36.5 63.5,36.5 63.5,27.5 70.5,27.5 70.5,36.5     79.5,36.5 79.5,43.5 70.5,43.5 70.5,52.5   "
                  />
                </g>
                <g>
                  <path style="fill:#FFF;" d="M70,28v8v1h1h8v6h-8h-1v1v8h-6v-8v-1h-1h-8v-6h8h1v-1v-8H70 M71,27h-8v9h-9v8h9v9h8v-9h9v-8h-9V27    L71,27z"
                  />
                </g>
              </g>
              <g>
                <g>
                  <path style="fill:#FFF;" d="M41.968,69.5l-3.426-12H16.002l-3.425,12H0.695l19.787-59h14.042l19.332,59H41.968z M19.142,46.5    h16.26l-7.504-26.289h-1.253L19.142,46.5z"
                  />
                </g>
                <g>
                  <path style="fill:#FFF;" d="M34.161,11l19.004,58h-10.82l-3.219-11.274L38.92,57h-0.754H16.38h-0.755l-0.207,0.726L12.2,69    H1.39l19.451-58H34.161 M18.479,47h1.325H34.74h1.325l-0.364-1.274l-7.219-25.289l-0.207-0.726h-0.754h-0.498h-0.755l-0.207,0.726    l-7.218,25.289L18.479,47 M34.886,10H20.122L0,70h12.955l3.425-12h21.786l3.426,12h12.955L34.886,10L34.886,10z M19.804,46    l7.218-25.289h0.498L34.74,46H19.804L19.804,46z"
                  />
                </g>
              </g>
            </svg>
            <!-- <span>Aumentar letra</span> -->
          </a>
        </div>
        <div class="remover">
          <a id="fontRemove" title="Diminuir texto">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px"
              viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve" width="20" height="20">
              <g>
                <rect x="54.5" y="36.5" style="fill:#FFF;" width="25" height="7" />
                <path style="fill:#FFF;" d="M79,37v6H55v-6H79 M80,36H54v8h26V36L80,36z" />
              </g>
              <g>
                <g>
                  <path style="fill:#FFF;" d="M41.968,69.5l-3.426-12H16.003l-3.426,12H0.695l19.786-59h14.042l19.332,59H41.968z M19.142,46.5    h16.261l-7.505-26.289h-1.252L19.142,46.5z"
                  />
                </g>
                <g>
                  <path style="fill:#FFF;" d="M34.161,11l19.004,58h-10.82l-3.219-11.275L38.92,57h-0.754H16.38h-0.755l-0.207,0.726L12.2,69    H1.39l19.451-58H34.161 M18.479,47h1.325H34.74h1.325l-0.364-1.275l-7.219-25.289l-0.207-0.725h-0.754h-0.498h-0.755l-0.207,0.726    l-7.218,25.289L18.479,47 M34.886,10H20.122L0,70h12.955l3.425-12h21.786l3.426,12h12.955L34.886,10L34.886,10z M19.804,46    l7.218-25.289h0.498L34.74,46H19.804L19.804,46z"
                  />
                </g>
              </g>
            </svg>
            <!-- <span>Diminuir letra</span> -->
          </a>
        </div>
      </div>
    </div>
  </div>
