<section class="hero-section">
  <header style="width: 100%;">
    <nav class="navbar d-none d-lg-block d-xl-block c" style="height: 62px" id="toFix-navbar">
      <div class="container" style="height: 100%;">
        <div class="row no-gutters" style="width:100%; justify-content: space-between;align-items: center;">
          <div class="col-2 d-flex">
            <a class="iconnav" href="#">
              <img data-src="assets/img/logo.png" alt="Logo">
            </a>
          </div>
          <div class="col-10 d-flex" style="justify-content: flex-end;align-items: center;">
            <ul class="navlinks" style="padding: 0;">
              <li>
                <a data-scroll href="#nossa-ideia" class="acessibilidade">NOSSA IDEIA</a>
              </li>
              <li>
                <a data-scroll href="#equipe" class="acessibilidade">EQUIPE</a>
              </li>
              <li>
                <a data-scroll href="#conquistas" class="acessibilidade">CONQUISTAS</a>
              </li>
              <li>
                <a data-scroll href="#apoio" class="acessibilidade">APOIO</a>
              </li>
              <li>
                <a data-scroll href="#contato" class="acessibilidade">CONTATO</a>
              </li>
              <!-- <li>
                <a data-scroll href="#contato" class="acessibilidade precadastro-btn">FAÇA O PRÉ-CADASTRO</a>
              </li> -->
            </ul>
            <button class="btn btn-white precadastro-btn acessibilidade" style="height: 40px;margin: 0 0 0 10px;" type="submit" id="nav">FAÇA O PRÉ-CADASTRO</button>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="navbar d-lg-none d-xl-none" id="menu-mobile">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img data-src="assets/img/logo.png">
      </a>
      <button class="btn btn-white precadastro-btn" style="height: 42px;margin: 0;font-size: 15px;font-weight: 600;" type="submit"
        id="nav">FAÇA O PRÉ-CADASTRO</button>
    </div>
  </div>
  <div class="fake-navbar d-none d-lg-block d-xl-block"></div>
  <div class="container d-none d-lg-block d-xl-block">
    <div class="row">
      <div class="col-md-12">
        <div class="icon">
          <img data-src="assets/img/iconcinza.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="balao wow pulse" data-wow-duration="3s" style="animation-iteration-count: infinite;">
          <img data-src="assets/img/balao.png">
          <p class="bold">Como você ajudaria um pet?</p>
        </div>
        <div class="computador wow bounce" data-wow-delay="2s">
          <img data-src="assets/img/computador.png">
          <div class="embed-responsive embed-responsive-16by9 computador-screen">
            <div class="youtube embed-responsive-item" data-embed="ePFyXjWgTiM">
              <div class="play-button"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-lg-none d-xl-none mobile">
    <div class="col-12">
      <div class="embed-responsive embed-responsive-16by9">
        <div class="youtube embed-responsive-item" data-embed="ePFyXjWgTiM">
          <div class="play-button"></div>
        </div>
      </div>
    </div>
  </div>
</section>
