<section class="steps-section" id="nossa-ideia">
  <div class="container">
    <div class="row">
      <div class="col-10 ml-auto mr-auto">
        <div class="title-wrapper">
          <h5 class="title acessibilidade"> Queremos unir protetores e voluntários da causa animal e oferecer um site que facilite o
            <b style="color:#38224d">
              resgate, amparo e adoção </b> de animais abandonados, de forma eficiente e prática :) </h5>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="steps-wrapper row d-none d-lg-flex d-xl-flex">
          <div class="col-3">
            <div class="step wow fadeInLeftBig" data-wow-delay="2s">
              <img data-src="assets/img/step1.png">
              <p class="step-content c-b acessibilidade">Mapeie onde avistar animais abandonados na sua cidade e combine o transporte para um veterinário ou lar temporário</p>
              <p class="bold center step-title"> RESGATE </p>
            </div>
          </div>
          <div class="col-3">
            <div class="step wow fadeInDownBig" data-wow-delay="2s">
              <img data-src="assets/img/step2.png">
              <p class="step-content c-b acessibilidade">Se cada pessoa se responsabilizasse pelos custos e cuidados de um bichinho, não pesaria pra ninguém, não é mesmo?</p>
              <p class="bold center step-title"> GUARDIÃO </p>
            </div>
          </div>
          <div class="col-3">
            <div class="step wow fadeInDownBig" data-wow-delay="2s">
              <img data-src="assets/img/step3.png">
              <p class="step-content c-b acessibilidade">Busque e ofereça lar temporário na nossa plataforma, gratuitos ou a preços acessíveis</p>
              <p class="bold center step-title"> LAR TEMPORÁRIO </p>
            </div>
          </div>
          <div class="col-3">
            <div class="step wow fadeInRightBig" data-wow-delay="2s">
              <img data-src="assets/img/step4.png">
              <p class="step-content c-b acessibilidade">Descubra os traços de personalidade de cada animal e saiba qual é o mais compatível com você e sua família</p>
              <p class="bold center step-title"> ADOÇÃO </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="steps-wrapper-mobile row d-block d-lg-none d-xl-none no-gutters">
      <div class="container">
        <div class="col-12">
          <div class="step">
            <img alt="Resgate os animais" data-src="assets/img/step1.png">
            <h5 class="bold purple">RESGATE</h5>
            <p class="c-b">Mapeie onde avistar animais abandonados na sua cidade e combine o transporte para um veterinário ou lar temporário</p>
          </div>
        </div>
        <div class="col-12">
          <div class="step">
            <img alt="Resgate os animais" data-src="assets/img/step2.png">
            <h5 class="bold purple">GUARDIÃO</h5>
            <p class="c-b">Se cada pessoa se responsabilizasse pelos custos e cuidados de um bichinho, não pesaria pra ninguém, não é mesmo?</p>
          </div>
        </div>
        <div class="col-12">
          <div class="step">
            <img alt="Resgate os animais" data-src="assets/img/step3.png">
            <h5 class="bold purple">LAR TEMPORÁRIO</h5>
            <p class="c-b">Busque e ofereça lar temporário na nossa plataforma, gratuitos ou a preços acessíveis</p>
          </div>
        </div>
        <div class="col-12">
          <div class="step">
            <img alt="Resgate os animais" data-src="assets/img/step4.png">
            <h5 class="bold purple">ADOÇÃO</h5>
            <p class="c-b">Descubra os traços de personalidade de cada animal e saiba qual é o mais compatível com você e sua família</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
