<section class="instruction-section">
  <div class="container">
    <div class="row no-gutters" id="slick-instruction">
      <div class="col-md-4 col-12 ml-auto mr-auto">
        <div class="instruction-wrapper">
          <div class="title-wrapper">
            <p class="number"> 1 </p>
            <p class="title bold">IDENTIFICAÇÃO</p>
          </div>
          <div class="images-wrapper wow pulse" data-wow-duration="3s" style="animation-iteration-count: infinite;">
            <img class="image" data-src="assets/img/instrucao1.png">
          </div>
          <div class="description-wrapper">
            <p class="description c-b acessibilidade">Ao encontrar um animal na rua, o usuário poderá tirar uma foto e cadastrá-lo de forma rápida no nosso mapa. Assim,
              todos saberão onde ele foi avistado, suas condições físicas e o que ele necessita.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ml-auto mr-auto">
        <div class="instruction-wrapper">
          <div class="title-wrapper">
            <p class="number"> 2 </p>
            <p class="title bold"> RESGATE & CUIDADOS </p>
          </div>
          <div class="images-wrapper wow pulse" data-wow-duration="3s" style="animation-iteration-count: infinite;">
            <img class="image" data-src="assets/img/instrucao2.png">
          </div>
          <div class="description-wrapper">
            <p class="description c-b acessibilidade">Usuários irão se unir para resgatar o animal de rua. Cada um pode oferecer algo (lar temporário, transporte,
              cuidados) e transformar a vida desse animal.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12 ml-auto mr-auto">
        <div class="instruction-wrapper">
          <div class="title-wrapper">
            <p class="number"> 3 </p>
            <p class="title bold"> ADOÇÃO </p>
          </div>
          <div class="images-wrapper wow pulse" data-wow-duration="3s" style="animation-iteration-count: infinite;">
            <img class="image" data-src="assets/img/instrucao3.png">
          </div>
          <div class="description-wrapper">
            <p class="description c-b acessibilidade">Depois de tudo feito, o pet estará pronto para ser acolhido em um lar amoroso! Você poderá adotar um animal com
              a personalidade que seja compatível com a sua e de sua família!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="gray-overlay"></div>
</section>
