<form id="formQuero" action="javascript:sendForm('querofazerparte')">
  <p class="parteequipe-subtitle bold">
    Nosso time é composto de pessoas de todas as áreas, que amam animais e querem dedicar uma parte do seu tempo para fazer o
    projeto acontecer.
  </p>
  <p class="parteequipe-subtitle bold" style="margin-bottom: 10px"> Escreva resumidamente sua experiência profissional ou no voluntariado, e nós entraremos em contato!</p>
  <input type="hidden" name="title" value="Site AUP - Contato">
  <input class="precadastro-input" type="text" name="nome" id="nome" placeholder="Qual é seu nome?" required>
  <input class="precadastro-input" type="email" name="email" id="email" placeholder="Qual é seu email?" required>
  <textarea class="parteequipe-input" name="mensagem" id="mensagem" placeholder="Digite sua mensagem" required></textarea>
  <button class="btn btn-purple" type="submit" id="cadastro">ENVIAR</button>
</form>
