<h4 class="contribuiu-title bold"> Conheça quem já colaborou com nosso projeto! :)
  <br>Você também pode ajudar, com qualquer quantia</h4>
<button class="btn btn-purple colaborador" type="submit">QUERO SER UM COLABORADOR</button>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="contribuiu-list bold">
        Adilson Cardoso
        <br>Adriano Assis
        <br>Aléssio Alonso Alves
        <br>Alexandre Junior
        <br>Ana Cristina de Souza Falcão
        <br>Ana Lídia Maria do Nascimento
        <br>Ana Lucia Pontes Brant
        <br>Andre Beck
        <br>André Duante
        <br>Andrea Pimenta
        <br>Antonio Carlos Jorge Patricio
        <br>Arthur Moreira Menezes
        <br>Awa Maia
        <br>Bárbara Luiza Xaviar
        <br>Bernardo Campos
        <br>Bianca Cardoso
        <br>Bianca M Kersten
        <br>Bruno Baeta
        <br>Camila Alvarenga
        <br>Camila Silva
        <br>Camille Paiva
        <br>Carlos Bap
        <br>Cecilia Megale Ogata
      </p>
    </div>
    <div class="col-md-3">
      <p class="contribuiu-list bold">Clarissa Pinho Rieh
        <br>Daniele Araújo
        <br>Deborah Pires Duque Rodrigues
        <br>Denise Mintz
        <br>Dharlan Lacerda Silvano
        <br>Edson Souza
        <br>Eduardo Monteiro
        <br>Estevão Magalhães Fonseca
        <br>Evandro Alvim Almeira
        <br>Evanis Adelme de Souza
        <br>Fabiana Kauder
        <br>Fabricio Fraga
        <br>Fátima Freitas
        <br>Fernanda Melo Almeida
        <br>Freitas de Góis
        <br>Gabriela Freitas
        <br>Giselle Froes
        <br>Guilherme Frossad Alves
        <br>Gustavo César
        <br>Gustavo Maggioni de Souza
        <br>Henrique Souza
        <br>Iara Christina de Campos
        <br>Isabel de Carvalho Serpa
        <br>
      </p>
    </div>
    <div class="col-md-3">
      <p class="contribuiu-list bold">Isabela de Moura Oliveira
        <br>Izabella Barroso
        <br>Jéssica Rodrigues Oliveira
        <br>Jo Souza
        <br>Juarez Guimarães Dias
        <br>Júlia Perácio Rezende Borges
        <br>Juliana Castro
        <br>Juliana Machado
        <br>Kelly Lissandra Bruch
        <br>Larissa Nóbrega
        <br>Laura Perácio
        <br>Lourdes Souza
        <br>Luana Silva
        <br>Lucas Coura Cota
        <br>Lucas Paiva
        <br>Luciana Fraiha
        <br>Luiz Eduardo Pontes Brant
        <br>Lygia Lopes
        <br>Marcelle Rodrigues
        <br>Marcelo Camas Nagem
        <br>Marcelo Menegali
        <br>Maria Alice
        <br>Maria Inês Eugênio Almeida
        <br>Maria Tereza Ribeiro
        <br>
      </p>
    </div>
    <div class="col-md-3">
      <p class="contribuiu-list bold">Mariana Aarestrup
        <br>Marina Duarte
        <br>Marinaide Mancebo
        <br>Marlene Lúcia de Souza
        <br>Marquélia Damaceno
        <br>Nathan Soares
        <br>Rafael Geraldo de Queiroz Sousa
        <br>Raquel Sodré
        <br>Renata Del Vecchio Gessullo
        <br>Ricardo Shinichi Miyabayashi
        <br>Richard Maxwell
        <br>Rodolfo Bergamaschine
        <br>Sandro B. Borges
        <br>Solange Leite Ikeda
        <br>Thais Goetz
        <br>Thaissa Lages
        <br>Thales Augusto de Paula
        <br>Thales Pedrosa
        <br>Vanessa Carvalho
        <br>Vera Lúcia Vaz
        <br>Virlane Vaz da Silva
        <br>Vitor Brauer
        <br>Xenia D Avila </p>
    </div>
  </div>
</div>
