<form id="formPrecadastro" action="javascript:sendForm('precadastro')">
  <input type="hidden" name="title" value="Site AUP - Pré-cadastro">
  <input type="text" class="precadastro-input" id="nome-precadastro" value="" name="nome" placeholder="Qual é seu nome?" required>
  <input type="text" class="precadastro-input" id="email-precadastro" value="" name="email" placeholder="Qual é o seu email"
    required>
  <button class="btn btn-purple" id="cadastrar">CADASTRAR</button>
  <span class="precadastro-subtitle">
    *Logo que lançarmos a versão beta, entraremos em contato através desse email para você finalizar o cadastro e usar a plataforma!
  </span>
</form>
