<section class="slick-slider">
  <div class="container-fluid no-padding">
    <div class="row no-gutters" id="slick">
      <div class="col-12 no-padding">
        <div class="slick-wrapper banner1 lazy" data-src="assets/img/banner/banner1.jpg">
          <div class="overlay-purple"></div>
          <div class="content-wrapper">

            <!-- imagem pequena -->
            <img class="image" data-src="assets/img/banner/banner4.png">
            <!-- descricao -->
            <h2 class="slick-explanation white acessibilidade">A maior plataforma virtual do Brasil para amparo de animais abandonados.</h2>
            <button class="btn btn-purple precadastro-btn acessibilidade c" type="submit">FAÇA O PRÉ-CADASTRO</button>
          </div>
        </div>
      </div>
      <div class="col-12 no-padding">
        <div class="slick-wrapper banner2 lazy" data-src="assets/img/banner/banner2.jpg">
          <div class="overlay-purple"></div>
          <div class="content-wrapper">
            <!-- imagem pequena -->
            <img class="image" data-src="assets/img/banner/banner4.png">
            <!-- descricao -->
            <h2 class="slick-explanation white acessibilidade">Colabore para que essa plataforma vire realidade!</h2>
            <button class="btn btn-purple c" type="submit">
              <a class="white acessibilidade" href="#conquistas">FAÇA SUA DOAÇÃO</a>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 no-padding">
        <div class="slick-wrapper banner3 lazy" data-src="assets/img/banner/banner3.jpg">
          <div class="overlay-purple"></div>
          <div class="content-wrapper">
            <img class="image" data-src="assets/img/banner/banner4.png">
            <h2 class="slick-explanation white acessibilidade"> Mais facilidade para mapear, resgatar e tratar um animal até que seja adotado </h2>
            <button class="btn btn-purple c">
              <a class="white acessibilidade" target="_blank" href="https://youtu.be/ePFyXjWgTiM">VEJA O VÍDEO</a>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
