<section class="team-section" id="equipe">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="icon">
          <img data-src="assets/img/iconcinza.png">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="title-wrapper">
          <p class="title bold">NOSSA EQUIPE</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 ml-auto mr-auto">
          <div id="slick-pequeno">
            <div class="slick-team">
              <img data-src="assets/img/team/AlexandreIlustrador.png">
              <p class="name bold c-w">Alexandre</p>
              <p class="description c-w">ILUSTRADOR</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/AnaCardoso-Ilustradora.png">
              <p class="name bold c-w">Ana Cardoso</p>
              <p class="description c-w">ILUSTRADORA</p>
            </div>
            <!-- <div class="slick-team">
              <img data-src="assets/img/team/AnaCarolina-SocialMedia.png">
              <p class="name bold c-w">Ana Carolina</p>
              <p class="description c-w">SOCIAL MEDIA</p>
            </div> -->
            <!-- <div class="slick-team">
              <img data-src="assets/img/team/AnaPaula-Redatora.png">
              <p class="name bold c-w">Ana Paula</p>
              <p class="description c-w">REDATORA</p>
            </div> -->
            <!-- <div class="slick-team">
              <img data-src="assets/img/team/CarolinaBresolini-Designer.png">
              <p class="name bold c-w">Carolina Bresolini</p>
              <p class="description c-w">DESIGNER</p>
            </div> -->
            <!-- <div class="slick-team">
              <img data-src="assets/img/team/ClariceOliveira-Redatora.png">
              <p class="name bold c-w">Clarice Oliveira</p>
              <p class="description c-w">REDATORA</p>
            </div> -->
            <div class="slick-team">
              <img data-src="assets/img/team/GabrielaFreitas-Diretora.png">
              <p class="name bold c-w">Gabriela Freitas</p>
              <p class="description c-w">DIRETORA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/GabrielleFelipe-SocialMedia.png">
              <p class="name bold c-w">Gabrielle Felipe</p>
              <p class="description c-w">SOCIAL MEDIA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/HenriqueRodrigues.png">
              <p class="name bold c-w">Henrique Rodrigues</p>
              <p class="description c-w">PROGRAMADOR</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/IsabelaLoures-Ilustradora.png">
              <p class="name bold c-w">Isabela Loures</p>
              <p class="description c-w">ILUSTRADORA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/JordanaSouza-Gerentegeral.png">
              <p class="name bold c-w">Jordana Souza</p>
              <p class="description c-w">GERENTE GERAL</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/LauraPerácio-SocialMedia.png">
              <p class="name bold c-w">Laura Perácio</p>
              <p class="description c-w">SOCIAL MEDIA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/LuizaPontes-coordenadora.png">
              <p class="name bold c-w">Luiza Pontes</p>
              <p class="description c-w">COORDENADORA</p>
            </div>
            <!-- <div class="slick-team">
              <img data-src="assets/img/team/MarianaMarques-Redatora.png">
              <p class="name bold c-w">Mariana Marques</p>
              <p class="description c-w">REDATORA</p>
            </div> -->
            <div class="slick-team">
              <img data-src="assets/img/team/MarquéliaCoelho-SocialMedia.png">
              <p class="name bold c-w">Marquélia Coelho</p>
              <p class="description c-w">SOCIAL MEDIA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/PedroLoures-programador.png">
              <p class="name bold c-w">Pedro Loures</p>
              <p class="description c-w">PROGRAMADOR</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/RayraLage-Coordenadora.png">
              <p class="name bold c-w">Rayra Lage</p>
              <p class="description c-w">COORDENADORA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/RichardMaxwell-Programador.png">
              <p class="name bold c-w">Richard Maxwell</p>
              <p class="description c-w">PROGRAMADOR</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/TamilleGarcias-Ilustradora.png">
              <p class="name bold c-w">Tamille Garcias</p>
              <p class="description c-w">ILUSTRADORA</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/WesleyVaz-Designer.png">
              <p class="name bold c-w">Wesley Vaz</p>
              <p class="description c-w">DESIGNER</p>
            </div>
            <div class="slick-team">
              <img data-src="assets/img/team/YaraLucas-Redatora.png">
              <p class="name bold c-w">Yara Lucas</p>
              <p class="description c-w">REDATORA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <button class="btn btn-purple" type="submit" id="querofazerparte">QUERO FAZER PARTE DO PROJETO!</button>
      </div>
    </div>
  </div>
</section>
