<%= require('html-loader!./partials/header.html') %>
  <%= require('html-loader!./partials/slider-pets.html') %>
    <%= require('html-loader!./partials/hero.html') %>
      <%= require('html-loader!./partials/idea.html') %>
        <%= require('html-loader!./partials/about.html') %>
          <%= require('html-loader!./partials/instruction.html') %>
            <%= require('html-loader!./partials/team.html') %>
              <%= require('html-loader!./partials/bank.html') %>
                <%= require('html-loader!./partials/apoio.html') %>
                  <%= require('html-loader!./partials/contact.html') %>
                    <%= require('html-loader!./partials/footer.html') %>
